
@{
    Layout = null;
}

<div class="footer">
    <div class="container">
        <div class="footer-top-at">

            <div class="col-md-4 amet-sed">
                <h4>Thông Tin</h4>
                <ul class="nav-bottom">
                    <li><a href="#">Giới thiệu về công ty</a></li>
                    <li><a href="#">Câu hỏi thường gặp mua hàng</a></li>
                    <li><a>Online:@ViewBag.SoNguoiDangOnline</a></li>
                    <li><a>Số lượng truy cập: @ViewBag.SoNguoiTruyCap</a></li>
                   
                </ul>
            </div>
            <div class="col-md-4 amet-sed ">
                <h4>Liên Hệ</h4>

                <p>
                    Điện Bàn-Quảng Nam
                </p>
                <p>Đường dây nóng</p>
                <p>call:  +84 120 522 3403</p>
                <ul class="social">
                    <li><a href="#"><i> </i></a></li>
                    <li><a href="#"><i class="twitter"> </i></a></li>
                    <li><a href="#"><i class="rss"> </i></a></li>
                    <li><a href="#"><i class="gmail"> </i></a></li>

                </ul>
            </div>
            <div class="col-md-4 amet-sed">
                <h4>Nhận thông tin mới nhất</h4>
                <p>
                    Email
                </p>
                <form>
                    <input type="text" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
                    <input type="submit" value="Gởi">
                </form>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="footer-class">
        <p>© 2018 Đại Học Sư Phạm Kỹ Thuật | Design by  <a href="#" target="_blank">StormStore</a> </p>
    </div>
</div>